.navBar{
    width: 100%;
    background-color: black;
    padding: 0.6em 1em;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logoCnt{
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: large;
}

.navLinks{
    display: flex;
}

